[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = GraphQL with Spring boot + MongoDB
[access "refs/*"]
	owner = group user/Sovanndara UOM (suom7)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Sovanndara UOM (suom7)
	label-Verified = -1..+1 group user/Sovanndara UOM (suom7)
	push = group user/Sovanndara UOM (suom7)
	read = group user/Sovanndara UOM (suom7)
	rebase = group user/Sovanndara UOM (suom7)
	removeReviewer = group user/Sovanndara UOM (suom7)
	submit = group user/Sovanndara UOM (suom7)
[access "refs/heads/*"]
	create = group user/Sovanndara UOM (suom7)
	push = +force group user/Sovanndara UOM (suom7)
	pushMerge = group user/Sovanndara UOM (suom7)
	read = group user/Sovanndara UOM (suom7)
[access "refs/tags/*"]
	push = group user/Sovanndara UOM (suom7)
	push = +force group user/Sovanndara UOM (suom7)
